<div>
    <form role="form" method="POST" action="/tests" enctype="multipart/form-data">
        <div class="form-group">
            <div class="input-group m-bot15">
                <span class="input-group-addon btn-white"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Título">
            </div>
            <div class="input-group m-bot15">
                <span class="input-group-addon btn-white"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Descrição">
            </div>
 <div class="input-group m-bot15">
                <span class="input-group-addon btn-white"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Descrição">
            </div>
            <div class="form-group">
                <input type="file" id="exampleInputFile" name="file">
            </div>
        </div>



        <button type="submit" class="btn btn-success btn_created">Create</button>
        <button class="btn btn-warning btn_cancel">Cancel</button>
    </form>
</div>
