html, body {
    margin: 0;
    min-height: 100%;
    min-width: 700px;
}

body {
    color: #767676;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    background: -moz-linear-gradient(246deg, rgba(188, 193, 186, 1) 0%, rgba(253, 228, 172, 1) 48%, rgba(255, 246, 184, 1) 69%, rgba(252, 171, 134, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252, 171, 134, 1)), color-stop(31%, rgba(255, 246, 184, 1)), color-stop(52%, rgba(253, 228, 172, 1)), color-stop(100%, rgba(188, 193, 186, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(246deg, rgba(188, 193, 186, 1) 0%, rgba(253, 228, 172, 1) 48%, rgba(255, 246, 184, 1) 69%, rgba(252, 171, 134, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(246deg, rgba(188, 193, 186, 1) 0%, rgba(253, 228, 172, 1) 48%, rgba(255, 246, 184, 1) 69%, rgba(252, 171, 134, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(246deg, rgba(188, 193, 186, 1) 0%, rgba(253, 228, 172, 1) 48%, rgba(255, 246, 184, 1) 69%, rgba(252, 171, 134, 1) 100%); /* ie10+ */
    background: linear-gradient(204deg, rgba(188, 193, 186, 1) 0%, rgba(253, 228, 172, 1) 48%, rgba(255, 246, 184, 1) 69%, rgba(252, 171, 134, 1) 100%); /* w3c */
}

#page{
    margin-top: 50px;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #E9AC3B;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


/* Large desktop */
@media (min-width: 1200px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}

.navbar-nav i {
    margin-right: 5px;
}

.navbar-nav > li:hover > a {
    color: #89bdd3 !important;
}

.navbar-nav li.active a {
    color: #3fb0ac !important;
    background-color: transparent !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#topBar {
    background-color: #fff;
}

#loginDiv {
    background-color: #fff;
    width: 300px;
    margin: auto;
    top: 50px;
    position: relative;
    border-radius: 5px;
}


#popUpDiv {
    background-color: #fff;
    width: 600px;
    margin: auto;
    top: 50px;
    position: relative;
    border-radius: 5px;
}
.tab-pane {
    padding: 20px;
}

.nav-tabs {
    border-radius: 5px;
    border-bottom: 1px solid #ddd;
    background-color: beige;
}

.mainDiv {
    width: 80%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.divWidget {
    background: #f1f2f7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: left;
    border-color: transparent;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.275);
}

.divWidget1 {
    background: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: left;
    border-color: transparent;

}

.row > div {
    padding-bottom: 20px;
}

.fileUploader {
    position: relative;
    border: dashed 3px #c9c9c9;
    height: 100px;
}

/******************INPUT FILE STYLE*/
.fileUploader:hover {
    cursor: hand;
    border: dashed 3px #89bdd3;
}

.fileUploader > span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.fileUploader > input {
    width: 100%;
    height: 100%;
    opacity: 0;
}

/******************INPUT FILE STYLE*/
.btn-group {
    float: right;
}

.divIO {
    width: 30px;
    border: solid 1px #ccc;
    border-radius: 5px;
    float: left;
    height: 30px;
    margin-left: 5px;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.divIO:hover {
    overflow: visible;
    z-index: 100;
    border: none;
    padding: 0px;
}

.divIO .subDivIO {
    padding: 5px;

}

.divIO:hover .subDivIO label {
    color: #2e6da4;
}

.divIO:hover .subDivIO {
    border: 1px solid #89bdd3;
}

.subDivIO {
    width: 120px;
    position: absolute;
    background: white;
    border-radius: 5px;
}

.emptyField {
    border-color: #c9302c;
}

.infoDiv {
    width: 35px;

    border-radius: 5px;
    float: left;
    height: 35px;
    margin-left: 5px;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.infoDiv:hover {
    overflow: visible;
    z-index: 100;
    border: none;
    padding: 0px;
}

.infoDiv .infoDivContent {
    padding: 5px;

}

.infoDiv:hover .infoDivContent {
    border: 1px solid #89bdd3;
}

.infoDivContent {
    width: 350px;
    position: absolute;
    background: white;
    border-radius: 5px;
}

.infoDivContent .fa-square-o {
    color: #c9302c;
}

#imagePrev {
    position: absolute;
    top: 0;
    height: 100%;
    width: inherit;
    margin-left: 50%;
}

/* USER STYLE*/
.userPreview {
    height: 70px;
}

.userPreview > .col-md-3 {
    overflow: hidden;
    height: 50px;
    padding-left: 0px;
}

.userPreview > .col-md-3 > img {
    width: 100%;
}

.userPreview:hover {
    transform: scale(1.5);
    position: relative;
}

.userPreview > .lblName {
    font-size: 18px;
    color: #1e347b;
}

.btn_questions {
    height: 30px;
    width: 30px;
}

.btn_questions_io {
    height: 20px;
    width: 20px;
}

