html, body {
    margin: 0;
    min-height: 100%;
    min-width: 700px;
}

body {
    color: #767676;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    background: -moz-linear-gradient(246deg, rgba(188, 193, 186, 1) 0%, rgba(253, 228, 172, 1) 48%, rgba(255, 246, 184, 1) 69%, rgba(252, 171, 134, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252, 171, 134, 1)), color-stop(31%, rgba(255, 246, 184, 1)), color-stop(52%, rgba(253, 228, 172, 1)), color-stop(100%, rgba(188, 193, 186, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(246deg, rgba(188, 193, 186, 1) 0%, rgba(253, 228, 172, 1) 48%, rgba(255, 246, 184, 1) 69%, rgba(252, 171, 134, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(246deg, rgba(188, 193, 186, 1) 0%, rgba(253, 228, 172, 1) 48%, rgba(255, 246, 184, 1) 69%, rgba(252, 171, 134, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(246deg, rgba(188, 193, 186, 1) 0%, rgba(253, 228, 172, 1) 48%, rgba(255, 246, 184, 1) 69%, rgba(252, 171, 134, 1) 100%); /* ie10+ */
linear-gradient(204 deg, rgb(255, 255, 255) 0 %, rgba(253, 228, 172, 1) 48 %, rgb(255, 253, 238) 69 %, #eadcd5 100 %)
}

#page {
    margin-top: 50px;
}

/* SIDE MENU*/
body, html {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main {
    padding: 10px 10px 0 10px;
}

.sidebar {
    position: absolute;
    z-index: 100;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/****************LOADING BAR*/
/*http://cssload.net/en/spinners*/
.cssload-container {
    position: relative;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    border: 2px solid rgb(154, 211, 222);
    border-left-color: rgba(127, 60, 233, 0.48);
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.cssload-whirlpool {
    margin: 50px 0 0 -69px;
    height: 138px;
    width: 138px;
    animation: cssload-rotate 3550ms linear infinite;
    -o-animation: cssload-rotate 3550ms linear infinite;
    -ms-animation: cssload-rotate 3550ms linear infinite;
    -webkit-animation: cssload-rotate 3550ms linear infinite;
    -moz-animation: cssload-rotate 3550ms linear infinite;
}

.cssload-container > p {
    margin: 110px 0 0 -36px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
}

.cssload-whirlpool::before {
    content: "";
    margin: -63px 0 0 -63px;
    border-left-color: rgba(233, 30, 99, 0.48);
    height: 121px;
    width: 121px;
    animation: cssload-rotate 3550ms linear infinite;
    -o-animation: cssload-rotate 3550ms linear infinite;
    -ms-animation: cssload-rotate 3550ms linear infinite;
    -webkit-animation: cssload-rotate 3550ms linear infinite;
    -moz-animation: cssload-rotate 3550ms linear infinite;
}

.cssload-whirlpool::after {
    content: "";
    margin: -80px 0 0 -80px;
    border-left-color: rgb(212, 100, 138);
    height: 154px;
    width: 154px;
    animation: cssload-rotate 7100ms linear infinite;
    -o-animation: cssload-rotate 7100ms linear infinite;
    -ms-animation: cssload-rotate 7100ms linear infinite;
    -webkit-animation: cssload-rotate 7100ms linear infinite;
    -moz-animation: cssload-rotate 7100ms linear infinite;
}

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

/***************DADOS DO USER - BARRA*/

#txtUser {
    padding: 5px;
}

#myFoto {
    width: 40px;
}

.badge-notify {
    background: #4CAF50;
    position: relative;
    top: -10px;
    left: -14px;
}

@media (min-width: 765px) {

    .main {
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;
    }

    nav.sidebar:hover + .main {
        margin-left: 200px;

    }

    nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    nav.sidebar a {
        padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    nav.sidebar {
        width: 200px;
        height: 100%;
        position: fixed;
        margin-left: -160px;
        float: left;
        margin-bottom: 0px;
    }

    nav.sidebar li {
        width: 100%;
    }

    nav.sidebar:hover {
        margin-left: 0px;
    }

    .forAnimate {
        opacity: 0;
    }
}

@media (min-width: 1330px) {

    .main {
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    nav.sidebar {
        margin-left: 0px;
        float: left;
    }

    nav.sidebar .forAnimate {
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #E9AC3B;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}

.navbar-nav i {
    margin-right: 5px;
}

.navbar-nav > li:hover > a {
    color: #89bdd3 !important;
}

.navbar-nav li.active a {
    color: #3fb0ac !important;
    background-color: transparent !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*************************************/

/************Notificacoes***********/

li .notification {
    display: flex;
}

.notification i {
    padding-top: 11px;
    float: right;
}

.open.options > .dropdown-menu {
    display: flex;
}

.input-group-addon > button {
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0px 5px;
}

#topBar {
    background-color: #fff;
}

#loginDiv {
    background-color: #fff;
    width: 300px;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

#popUpDiv {
    background-color: #fff;
    width: 600px;
    margin: auto;
    top: 50px;
    position: relative;
    border-radius: 5px;
}

.tab-pane {
    padding: 20px;
}

.nav-tabs {
    border-radius: 0px 5px;
    border-bottom: 1px solid #ddd;
    background-color: beige;
}

.mainDiv {
    width: 80%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.divWidget {
    background: #f1f2f7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px 10px 10px 10px;
    text-align: left;
    position: relative;
    display: inline-block;
    min-width: 100%;
    border-color: transparent;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.275);
}

.input-group {
    margin-bottom: 10px;
}

.fileUploader {
    position: relative;
    border: dashed 3px #c9c9c9;
    min-height: 175px;
    margin-bottom: 10px;
    text-align: -webkit-center;
}

/******************INPUT FILE STYLE*/
.fileUploader:hover {
    cursor: hand;
    border: dashed 3px #89bdd3;
}

.fileUploader > span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.fileUploader > input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;

}

/*** CROPPER */

.cropBG {
    background: rgba(5, 5, 5, 0.7);
    color: black;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#cropperPanel {
    margin: 30px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.jcrop-holder {
    margin: auto;
}

/******************INPUT FILE STYLE*/
.btn-group {
    float: right;
}

.divIO {
    width: 30px;
    border: solid 0px #ccc;
    border-radius: 5px;
    float: left;
    height: 30px;
    margin-left: 5px;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.divIO:hover {
    overflow: visible;
    z-index: 100;
    border: none;
    padding: 0px;
}

.divIO .subDivIO {
    padding: 5px;

}

.divIO:hover .subDivIO label {
    color: #2e6da4;
}

.divIO:hover .subDivIO {
    border: 1px solid #89bdd3;
}

.subDivIO {
    width: 200px;
    height: 200px;
    position: absolute;
    background: white;
    border-radius: 5px;
}

.subDivIO textarea {
    height: 140px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}

.rmvIO {
    float: right;
    color: #ac2925;
}

.divInfo {
    width: 27px;
    border: solid 0px #ccc;
    border-radius: 5px;
    float: left;
    height: 27px;
    margin-left: 5px;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.divInfo:hover {
    overflow: visible;
    z-index: 100;
    border: none;
    padding: 0px;
}

.divInfo .subDivIO {
    padding: 5px;

}

.divInfo:hover .subDivInfo label {

    color: #2e6da4;
}

.divInfo:hover .subDivIO {
    border: 1px solid #89bdd3;
}

.subDivInfo {
    border: 1px solid black;
    width: 130px;
    position: absolute;
    background: white;
    border-radius: 5px;
    height: auto;
}

.emptyField {
    border-color: #c9302c;
}

.infoDiv {
    width: 35px;

    border-radius: 5px;
    float: left;
    height: 35px;
    margin-left: 5px;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.infoDiv:hover {
    overflow: visible;
    z-index: 100;
    border: none;
    padding: 0px;
}

.infoDiv .infoDivContent {
    padding: 5px;

}

.infoDiv:hover .infoDivContent {
    border: 1px solid #89bdd3;
}

.infoDivContent {
    width: 350px;
    position: absolute;
    background: white;
    border-radius: 5px;
}

.infoDivContent .fa-square-o {
    color: #c9302c;
}

#imagePrev {
    transition: all 1.5s ease-in-out;
    border-radius: 4px;
    z-index: 100;
    max-width: 100%;
}

/* USER STYLE*/
.userPreview {
    height: 70px;
}

.userPreview > .col-md-3 {
    overflow: hidden;
    height: 50px;
    padding-left: 0px;
}

.userPreview > .col-md-3 > img {
    width: 100%;
}

.userPreview:hover {
    transform: scale(1.5);
    position: relative;
}

.userPreview > .lblName {
    font-size: 18px;
    color: #1e347b;
}

.btn_questions {
    height: 30px;
    width: 30px;
}

.btn_questions_io {
    height: 20px;
    width: 20px;
}

.form {
    position: relative;
    padding: 50px;
}

.tab-content {
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}

#institutionsDiv, .dataBox {
    min-height: 260px;
}

#schoolsDiv, .dataBox {
    min-height: 120px;
}

#coursesDiv, .dataBox {
    min-height: 280px;
}