<a href="#demo" class="btn btn-default" data-toggle="collapse">+</a>
<div id="demo" class="collapse">
    <form id="newCourseForm">
        <div class="divWidget">
            <div class="col-md-5">
                <div class="col-md-12">
                    <div class="fileUploader">
                        <span>Escolher imagem</span>
                        <input type="file" class="form-control mandatory" id="filePicker"
                               name="file">
                        <input type="hidden"
                               name="image" class="form-control" id="base64textarea">
                        <img id="imagePrev">
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class=" col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>
                        <input id="txtNome" name="name" type="text" class="form-control mandatory"
                               placeholder="Nome">
                    </div>
                </div>
                <div class=" col-md-12">
                    <div class="input-group">
                                            <span class="input-group-addon btn-white"><i
                                                    class="fa fa-building"></i></span>
                        <select id="ddInstitutionsList" class="form-control mandatory">

                        </select>
                    </div>
                </div>
                <div class=" col-md-12">
                    <div class="input-group">
                                            <span class="input-group-addon btn-white"><i
                                                    class="fa fa-building-o"></i></span>
                        <select id="ddSchoolsList" name="school" class="form-control mandatory">

                        </select>
                    </div>
                </div>
                <div class="col-md-12 btn-group" align="center">
                    <button id="btnCreateCourse" type="submit" class="btn btn-success btn_created">
                        Criar curso
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="form">
    <!-- Creates a box with every single course information -->
    <% _.each(collection,function(course){ %>

    <div class="col-md-3">
        <div class="divWidget dataBox">
            <div class="col-md-12 col-xs-12" align=" center">
                <img src="../images/<%=course.image%>">

                <div>
                    <p align="center"><%=course.name%></p>

                    <p align="center"><%=course.schoolName%></p>
                </div>
            </div>
            <div class="col-md-6 btn-group" align="left">


                <a class="deleteCourse" value="<%=course.id%>" type="button">
                    <i href="" class="fa fa-trash-o fa-2x"
                       aria-hidden="true"></i></a>
            </div>
            <div class="col-md-6 btn-group" align="right">
                <a href="#courses/<%= course.id %>/edit">
                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <% }); %>
    <!-- Button trigger modal -->
</div>
