<form role="form" class="mainDiv" method="POST" action="/question" enctype="multipart/form-data">
    <div class="infoDiv">
        <div class="infoDivContent ">
            <i class="fa fa-info-circle fa-2x "></i></br></br>
            <label class=""><i class="fa fa-square-o"></i> Campos de preenchimento
                obrigatório</label>
        </div>
    </div>
    <h3 align="center">Inserir novo Curso
        <hr>
    </h3>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="fileUploader">
                <span>Escolher imagem</span>
                <input type="file" class="form-control mandatory" id="filePickerImg" name="file">
                <input type="hidden" name="imagem" class="form-control" id="base64textarea">
                <img id="imagePrev">
            </div>
        </div>
        <div class=" col-md-6">
            <div class="input-group">
                <span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>
                <input id="txtNome" name="nameCourse" type="text" class="form-control mandatory"
                       placeholder="Nome">
            </div>
        </div>

        <div class=" col-md-3">
            <div class="input-group">
                <span class="input-group-addon btn-white"><i class="fa fa-building-o"></i></span>
                <select id="ddInst" name="sigla" class="form-control mandatory">
                    <option disabled selected>Escola</option>
                    <option value="1">ESTA</option>
                    <option value="2">ESGT</option>
                    <option value="3">ESTT</option>
                    <option value="4">...</option>
                </select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 btn-group">
            <button type="button" class="btn btn-default" aria-label="Left Align"><a href="#courses"</a>
                <span class=" glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
            <button id="btnCriarInst" type="submit" class="btn btn-success btn_created">Criar</button>
            <button class="btn btn-default">Cancel</button>
        </div>
    </div>
</form>