<nav class="navbar navbar-default navbar-fixed-top" style="z-index: 50">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#home">
                <img src="assets/ico/iconAlgorithmi.png" href="#home"
                     style="width:28px;height:40px;align-content: center" ;>
            </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- Se nao estiver loggado -->
                <li><a href="#login">Sign Up / Login</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="txtUser" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Olá Visitante <img id="myFoto" src="../images/user.jpeg"><span
                    ></span></a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div align="center">
    <h2 align="center">ALGORITHMI</h2>

    <iframe align="center" width="560" height="315" src="https://www.youtube.com/embed/6pYxO66pYd8" frameborder="0"
            allowfullscreen></iframe>
</div>


<div class="row" style="    bottom: 0px;    position: fixed;">
    <hr>
    <div class="col-md-4 col-xs-4" align=" left">


        <div class="col-md-12 col-xs-12" align=" left">
            <a href="#acercade" style="color: black"><i class="glyphicon glyphicon-info-sign"></i> ACERCA DE</a>
            <br>
        </div>


        <div class="col-md-12 col-xs-12" align=" left">
            <a href="#criadores" style="color: black"><i class="glyphicon glyphicon-eye-open"></i>CRIADORES</a>
            <br>
        </div>
        <br>

        <div class="col-md-12 col-xs-12" align=" left">
            <a href="#sobrenos" style="color: black"><i class="glyphicon glyphicon-screenshot"></i>SOBRE NÓS</a>
        </div>

    </div>
    <div class="col-md-4 col-xs-4" align=" left">


        <div class="col-md-12 col-xs-12" align=" left">
            <a href="#downloads" style="color: black"><i class="glyphicon glyphicon-download"></i> DOWNLOADS</a>
            <br>
        </div>


        <div class="col-md-12 col-xs-12" align=" left">
            <a href="#termos" style="color: black"><i class="glyphicon glyphicon-leaf"></i>TERMOS E
                CONDIÇÕES</a>
            <br>
        </div>
        <br>

        <div class="col-md-12 col-xs-12" align=" left">
            <a href="#politicas" style="color: black"><i class="glyphicon glyphicon-tree-deciduous"></i>POLITICAS
                DE SEGURANÇA</a>
        </div>

    </div>
    <div class="col-md-4 col-xs-4" align=" left">

        <div class="col-md-6 col-xs-6" align=" left">
            <a href="https://www.facebook.com/profile.php?id=100011978412124">
                <img src="assets/ico/facebook_icon.png" href="#home"
                     style="width:40px;height:40px;align-content: center" ;>
            </a>
        </div>


        <div class="col-md-6 col-xs-6" align=" left">
            <a href="https://www.youtube.com/channel/UCBl5zuODjgCfUqlkYarhw7A">
                <img src="assets/ico/youtube1.png" href="#home"
                     style="width:40px;height:40px;align-content: center" ;>
            </a>
        </div>


        <div class="col-md-6 col-xs-6" align=" left">
            <a href="https://plus.google.com/107132258131964083201">
                <img src="assets/ico/google.png" href="#home"
                     style="width:40px;height:40px;align-content: center" ;>
            </a>
        </div>


        <div class="col-md-6 col-xs-6" align=" left">
            <a href="https://twitter.com/Algorithmi_IPT">
                <img src="assets/ico/twitter.png" href="#home"
                     style="width:40px;height:40px;align-content: center" ;>
            </a>
        </div>
    </div>

</div>


