<div>
    <h2 align="center">ALGORITHMI</h2>
    <br>

    <p>

        Lorem ipsum dolor sit amet, ut duo eius omnium bonorum. Quem principes et mea, dicta oporteat partiendo ea sea.
        Cu vidit referrentur quo, sed ad altera primis definiebas. Vim in libris detraxit consectetuer, ex ludus veritus
        eam. Sumo probo euismod sea et, his et detracto persecuti forensibus.
    </p>

    <p>
        Pro veri nusquam expetendis et. Ex fugit nominavi perpetua pri, mutat vivendum cu pro, ius cu dicam atomorum.
        Mei cu modo doctus. Vel ea placerat salutatus, sit ut verear rationibus vituperatoribus. Est te scriptorem
        adversarium, dicit debitis necessitatibus his te. Ex essent oportere accommodare quo.
    </p>

    <p>
        Et sit veri probatus erroribus, porro aliquando necessitatibus vel at, pro id fugit dolore dissentiunt. Ex
        dictas indoctum per, quando indoctum repudiare mei te, novum mazim ceteros sed ut. Melius iuvaret delicatissimi
        mel id. Eum no fabulas petentium, porro reprimique pri ei. Ad zril laoreet ponderum eum, nobis iracundia vix eu.
        Offendit platonem rationibus et sit.
    </p>

    <p>
        Est sonet munere probatus ad, pri utamur quaerendum ex. Ex eam etiam virtute fabellas. No eos meliore admodum
        disputationi, usu quem prompta ei. Diam suscipiantur consectetuer no per. Harum tamquam at pri, id veritus
        voluptaria vix. An iudico legendos deserunt cum, eam nominati eleifend ei, vim id eripuit veritus cotidieque.
    </p>

    <p>
        No corpora posidonium mei. Iusto repudiare vituperata pro ne. Pri id lobortis electram moderatius. Per in brute
        delectus.
    </p>

    <p>
        Id definiebas referrentur his, per ei possim scribentur. Sed etiam velit putent in, nam te quod putent. Ludus
        dicunt ius ex. Nonumy tibique pro ne, per ad vero modus alterum. Mollis neglegentur ea qui, ei vim clita
        appareat efficiendi.
    </p>

    <p>
        Quo error homero euripidis id. Nam no probo facer nobis. An utamur ponderum mea. Pro tritani legimus ut. Saperet
        legendos consulatu ne sed, et nec dicta oportere volutpat. Id quod probatus mea, an malorum placerat vivendum
        mei.
        Verear propriae apeirian his ei, eos ut albucius perfecto concludaturque. Ut pro offendit expetendis
        consectetuer, sit unum nibh nominati eu, quo phaedrum vituperata argumentum cu. Has ex velit principes, sed te
        soleat lucilius adipiscing. Pri quem prima at, at pri dicit splendide. An pro quando concludaturque.
    </p>

</div>

<div>
    <hr>

    <div class="row">
        <div class="col-md-12 col-xs-12">

            <div class="row">
                <div class="col-md-4 col-xs-4" align=" left">


                    <div class="col-md-12 col-xs-12" align=" left">
                        <a href="#acercade" style="color: black"><i class="glyphicon glyphicon-info-sign"></i> ACERCA DE</a>
                        <br>
                    </div>


                    <div class="col-md-12 col-xs-12" align=" left">
                        <a href="#criadores" style="color: black"><i class="glyphicon glyphicon-eye-open"></i>CRIADORES</a>
                        <br>
                    </div>
                    <br>

                    <div class="col-md-12 col-xs-12" align=" left">
                        <a href="#sobrenos" style="color: black"><i class="glyphicon glyphicon-screenshot"></i>SOBRE NÓS</a>
                    </div>

                </div>
                <div class="col-md-4 col-xs-4" align=" left">


                    <div class="col-md-12 col-xs-12" align=" left">
                        <a href="#downloads" style="color: black"><i class="glyphicon glyphicon-download"></i> DOWNLOADS</a>
                        <br>
                    </div>


                    <div class="col-md-12 col-xs-12" align=" left">
                        <a href="#termos" style="color: black"><i class="glyphicon glyphicon-leaf"></i>TERMOS E
                            CONDIÇÕES</a>
                        <br>
                    </div>
                    <br>

                    <div class="col-md-12 col-xs-12" align=" left">
                        <a href="#politicas" style="color: black"><i class="glyphicon glyphicon-tree-deciduous"></i>POLITICAS
                            DE SEGURANÇA</a>
                    </div>

                </div>
                <div class="col-md-4 col-xs-4" align=" left">

                    <div class="col-md-6 col-xs-6" align=" left">
                        <a href="#home">
                            <img src="assets/ico/facebook_icon.png" href="#home"
                                 style="width:40px;height:40px;align-content: center" ;>
                        </a>
                    </div>


                    <div class="col-md-6 col-xs-6" align=" left">
                        <a href="#home">
                            <img src="assets/ico/youtube1.png" href="#home"
                                 style="width:40px;height:40px;align-content: center" ;>
                        </a>
                    </div>


                    <div class="col-md-6 col-xs-6" align=" left">
                        <a href="#home">
                            <img src="assets/ico/google.png" href="#home"
                                 style="width:40px;height:40px;align-content: center" ;>
                        </a>
                    </div>


                    <div class="col-md-6 col-xs-6" align=" left">
                        <a href="#home">
                            <img src="assets/ico/twitter.png" href="#home"
                                 style="width:40px;height:40px;align-content: center" ;>
                        </a>
                    </div>


                </div>


            </div>
        </div>
    </div>


</div>


</div>
