<nav class="navbar navbar-default navbar-fixed-top" style="z-index: 50">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#home">
                <img src="assets/ico/iconAlgorithmi.png" href="#home"
                     style="width:28px;height:40px;align-content: center" ;>
            </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- Se nao estiver loggado -->
                <li><a href="#login">Sign Up / Login</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="txtUser" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Olá Visitante <img id="myFoto" src="../images/user.jpeg"><span
                    ></span></a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="someParent">
    <h2 align="center">ALGORITHMI</h2>
    <br>

    <p>

        Lorem ipsum dolor sit amet, ut duo eius omnium bonorum. Quem principes et mea, dicta oporteat partiendo ea sea.
        Cu vidit referrentur quo, sed ad altera primis definiebas. Vim in libris detraxit consectetuer, ex ludus veritus
        eam. Sumo probo euismod sea et, his et detracto persecuti forensibus.
    </p>

    <p>
        Pro veri nusquam expetendis et. Ex fugit nominavi perpetua pri, mutat vivendum cu pro, ius cu dicam atomorum.
        Mei cu modo doctus. Vel ea placerat salutatus, sit ut verear rationibus vituperatoribus. Est te scriptorem
        adversarium, dicit debitis necessitatibus his te. Ex essent oportere accommodare quo.
    </p>

    <p>
        Et sit veri probatus erroribus, porro aliquando necessitatibus vel at, pro id fugit dolore dissentiunt. Ex
        dictas indoctum per, quando indoctum repudiare mei te, novum mazim ceteros sed ut. Melius iuvaret delicatissimi
        mel id. Eum no fabulas petentium, porro reprimique pri ei. Ad zril laoreet ponderum eum, nobis iracundia vix eu.
        Offendit platonem rationibus et sit.
    </p>

    <p>
        Est sonet munere probatus ad, pri utamur quaerendum ex. Ex eam etiam virtute fabellas. No eos meliore admodum
        disputationi, usu quem prompta ei. Diam suscipiantur consectetuer no per. Harum tamquam at pri, id veritus
        voluptaria vix. An iudico legendos deserunt cum, eam nominati eleifend ei, vim id eripuit veritus cotidieque.
    </p>

    <p>
        No corpora posidonium mei. Iusto repudiare vituperata pro ne. Pri id lobortis electram moderatius. Per in brute
        delectus.
    </p>

    <p>
        Id definiebas referrentur his, per ei possim scribentur. Sed etiam velit putent in, nam te quod putent. Ludus
        dicunt ius ex. Nonumy tibique pro ne, per ad vero modus alterum. Mollis neglegentur ea qui, ei vim clita
        appareat efficiendi.
    </p>

    <p>
        Quo error homero euripidis id. Nam no probo facer nobis. An utamur ponderum mea. Pro tritani legimus ut. Saperet
        legendos consulatu ne sed, et nec dicta oportere volutpat. Id quod probatus mea, an malorum placerat vivendum
        mei.
        Verear propriae apeirian his ei, eos ut albucius perfecto concludaturque. Ut pro offendit expetendis
        consectetuer, sit unum nibh nominati eu, quo phaedrum vituperata argumentum cu. Has ex velit principes, sed te
        soleat lucilius adipiscing. Pri quem prima at, at pri dicit splendide. An pro quando concludaturque.
    </p>

</div>

<div>
    <hr>

    <div class="row">
        <div class="col-md-12 col-xs-12">

            <div class="row">
                <div class="col-md-4 col-xs-4" align=" left">


                    <div class="col-md-12 col-xs-12" align=" left">
                        <a href="#acercade" style="color: black"><i class="glyphicon glyphicon-info-sign"></i> ACERCA DE</a>
                        <br>
                    </div>


                    <div class="col-md-12 col-xs-12" align=" left">
                        <a href="#criadores" style="color: black"><i class="glyphicon glyphicon-eye-open"></i>CRIADORES</a>
                        <br>
                    </div>
                    <br>

                    <div class="col-md-12 col-xs-12" align=" left">
                        <a href="#sobrenos" style="color: black"><i class="glyphicon glyphicon-screenshot"></i>SOBRE NÓS</a>
                    </div>

                </div>
                <div class="col-md-4 col-xs-4" align=" left">


                    <div class="col-md-12 col-xs-12" align=" left">
                        <a href="#downloads" style="color: black"><i class="glyphicon glyphicon-download"></i> DOWNLOADS</a>
                        <br>
                    </div>


                    <div class="col-md-12 col-xs-12" align=" left">
                        <a href="#termos" style="color: black"><i class="glyphicon glyphicon-leaf"></i>TERMOS E
                            CONDIÇÕES</a>
                        <br>
                    </div>
                    <br>

                    <div class="col-md-12 col-xs-12" align=" left">
                        <a href="#politicas" style="color: black"><i class="glyphicon glyphicon-tree-deciduous"></i>POLITICAS
                            DE SEGURANÇA</a>
                    </div>

                </div>
                <div class="col-md-4 col-xs-4" align=" left">

                    <div class="col-md-6 col-xs-6" align=" left">
                        <a href="https://www.facebook.com/profile.php?id=100011978412124">
                            <img src="assets/ico/facebook_icon.png" href="#home"
                                 style="width:40px;height:40px;align-content: center" ;>
                        </a>
                    </div>


                    <div class="col-md-6 col-xs-6" align=" left">
                        <a href="https://www.youtube.com/channel/UCBl5zuODjgCfUqlkYarhw7A">
                            <img src="assets/ico/youtube1.png" href="#home"
                                 style="width:40px;height:40px;align-content: center" ;>
                        </a>
                    </div>


                    <div class="col-md-6 col-xs-6" align=" left">
                        <a href="https://plus.google.com/107132258131964083201">
                            <img src="assets/ico/google.png" href="#home"
                                 style="width:40px;height:40px;align-content: center" ;>
                        </a>
                    </div>


                    <div class="col-md-6 col-xs-6" align=" left">
                        <a href="https://twitter.com/Algorithmi_IPT">
                            <img src="assets/ico/twitter.png" href="#home"
                                 style="width:40px;height:40px;align-content: center" ;>
                        </a>
                    </div>


                </div>


            </div>
        </div>
    </div>


</div>

<div class="modal fade" id="loginModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Nova Pergunta
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form id="newPopUpQuestion">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Cabecalho" aria-controls="Cabecalho" role="tab"
                                                                  data-toggle="tab"
                                                                  aria-expanded="true">Cabeçalho</a></li>
                        <li role="presentation" class=""><a href="#Conteudo" aria-controls="Conteudo" role="tab"
                                                            data-toggle="tab"
                                                            aria-expanded="false">Conteúdo</a></li>
                        <li role="presentation"><a href="#Io" aria-controls="Io" role="tab" data-toggle="tab">I/O</a>
                        </li>
                        <li role="presentation"><a href="#SourceCode" aria-controls="Io" role="tab" data-toggle="tab">Source
                            Code</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Cabeçalho -->
                        <div role="tabpanel" class="tab-pane active" id="Cabecalho">
                            <div class="row" style="height: 170px">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>
                                        <input id="txtTitulo" name="title" autofocus type="text"
                                               class="form-control mandatory"
                                               placeholder="Título">
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon btn-white"><i class="fa fa-flag"></i></span>
                                        <select id="ddCategoria" name="category" class="form-control mandatory">
                                            <option disabled selected>Categoria</option>
                                            <option value="1">Dados</option>
                                            <option value="2">Decisão</option>
                                            <option value="3">Iteração</option>
                                            <option value="4">Arrays</option>
                                            <option value="5">...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon btn-white"><i class="fa fa-bar-chart"></i></span>
                                        <select id="ddDificuldade" name="difficulty" class="form-control mandatory">
                                            <option disabled selected>Dificuldade</option>
                                            <option value="1">Fácil</option>
                                            <option value="2">Médio</option>
                                            <option value="3">Díficil</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Conteudo -->

                        <div role="tabpanel" class="tab-pane " id="Conteudo">
                            <div class="row" style="height: 170px">
                                <div class=" col-md-7">
                                    <div class="input-group" style="height: 150px">
                                        <span class="input-group-addon btn-white"><i class="fa fa-list-ul" aria-hidden="true"></i></span>
                    <textarea id="txtDescricao" name="description" type="text" class="form-control mandatory"
                              placeholder="Descrição" style="height: 150px"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="fileUploader" style="height: 150px">
                                        <span>Escolher imagem</span>
                                        <input type="file" class="form-control mandatory" id="filePickerImg"
                                               name="file">
                                        <input type="hidden" name="image" class="form-control" id="base64textarea">
                                        <img id="imagePrev3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- HELP -->
                        <div role="tabpanel" class="tab-pane" id="Io">
                            <div class="row" style="height: 170px">

                                <div class="row">
                                    <div class=" col-md-12">
                                        <div class=" col-md-5" style="height: 100px">
                                            <div class="input-group" style="height: 100px">
                                        <span class="input-group-addon btn-white"><i
                                                class="glyphicon glyphicon-save"></i></span>
                        <textarea id="txtEntrada" name="in" type="text" class="form-control"
                                  placeholder="Entrada" style="height: 100px"></textarea>
                                            </div>
                                        </div>
                                        <div class=" col-md-5">
                                            <div class="input-group" style="height: 100px">
                                        <span class="input-group-addon btn-white"><i
                                                class="glyphicon glyphicon-open"></i></span>
                        <textarea id="txtSaida" name="out" type="text" class="form-control"
                                  placeholder="Saída" style="height: 100px"></textarea>
                                            </div>
                                        </div>
                                        <div class=" col-md-2">
                                            <div class=" col-md-11">
                                                <button id="addIo" type="button" class="btn btn btn_created">+ I/O
                                                </button>
                                                <br>
                                                <br>
                                            </div>
                                            <div class=" col-md-11">
                                                <button id="btn_questions_delete_All_io" type="button"
                                                        class="btn btn btn_created">- I/O
                                                </button>

                                            </div>


                                        </div>

                                        <div id="files" class=" col-md-12">
                                            <br>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="SourceCode">
                            <div class="row" style="height: 170px">

                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon btn-white"><i class="fa fa-flag"></i></span>
                                        <select id="linguagens" name="language" class="form-control mandatory">
                                            <option disabled selected>Linguagem</option>
                                            <option value="1">JAVA</option>
                                            <option value="2">C++</option>
                                            <option value="3">PHP</option>
                                            <option value="4">C</option>
                                            <option value="5">...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="fileUploader" style="height: 37px; width: 37px">

                                        <input type="file" name="algoritmo" class="form-control mandatory"
                                               id="inputFicheiro"
                                               name="file">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div align="center">
                                        <button id="addLanguage" type="button" class="btn btn btn_created">ADD
                                        </button>
                                    </div>
                                </div>
                                <div id="language" class="col-md-5">

                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 btn-group" align="center">
                                <div align="center">
                                    <button id="Criar" type="submit" class="btn btn-success btn_created">Criar
                                    </button>
                                </div>
                            </div>
                        </div>
                </form>

            </div>

        </div>
    </div>
</div>



