<!--
<div id='subcontent'>


        <button type="button" class="btn btn-default" aria-label="Left Align"><a href="#institutions"</a>
            <span class=" glyphicon glyphicon-chevron-left
" aria-hidden="true"></span>
        </button>
    institutions new view
</div>
-->

<form role="form" class="mainDiv" method="POST" action="/question" enctype="multipart/form-data">
    <div class="infoDiv">
        <div class="infoDivContent ">
            <i class="fa fa-info-circle fa-2x "></i></br></br>
            <label class=""><i class="fa fa-square-o"></i> Campos de preenchimento
                obrigatório</label>
        </div>
    </div>
    <h3 align="center">Inserir nova Instituição
        <hr>
    </h3>



    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="fileUploader">
                <span>Escolher imagem</span>
                <input type="file" class="form-control mandatory" id="filePickerImg" name="file">
                <input type="hidden" name="imagem" class="form-control" id="base64textarea">
                <img id="imagePrev">
            </div>
        </div>
        <div class=" col-md-8">
            <div class="input-group">
                <span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>
                <input id="txtNome" name="name" type="text" class="form-control mandatory"
                       placeholder="Nome">
            </div>
            <br>
            <div class=" col-md-13">
                <div class="input-group">
                    <span class="input-group-addon btn-white"><i class="fa fa-map-marker"></i></span>
                    <input id="txtLocalização" name="address" type="text" class="form-control mandatory"
                           placeholder="Localização">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 btn-group">
            <button type="button" class="btn btn-default" aria-label="Left Align"><a href="#institutions"</a>
            <span class=" glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
            <button id="btnCriarInst" type="submit" class="btn btn-success btn_created">Criar</button>
            <button class="btn btn-default">Cancel</button>
        </div>
    </div>
</form>