<div class="row">
    <div class="col-md-12 col-xs-12 ">
        <div class="divWidget1" align="center">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="divWidget" align="center">
                        <h4 align="center">INSTITUIÇÕES</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">NOME</p>

                                    <p align="center">LOCALIZAÇÃO</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">NOME</p>

                                    <p align="center">LOCALIZAÇÃO</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">NOME</p>

                                    <p align="center">LOCALIZAÇÃO</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">NOME</p>

                                    <p align="center">LOCALIZAÇÃO</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">NOME</p>

                                    <p align="center">LOCALIZAÇÃO</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">NOME</p>

                                    <p align="center">LOCALIZAÇÃO</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">NOME</p>

                                    <p align="center">LOCALIZAÇÃO</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">NOME</p>

                                    <p align="center">LOCALIZAÇÃO</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">NOME</p>

                                    <p align="center">LOCALIZAÇÃO</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">NOME</p>

                                    <p align="center">LOCALIZAÇÃO</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">NOME</p>

                                    <p align="center">LOCALIZAÇÃO</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">NOME</p>

                                    <p align="center">LOCALIZAÇÃO</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

