<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#institutions/new">Total: <%=collection.length%>
                        <span style="font-size:16px;"
                              class="pull-right hidden-xs showopacity fa fa-building"></span>
                    </a>
                </li>
                <li>
                    <a id="newInstBtn" href="#newInsitutionDiv" data-toggle="collapse">Inserir
                        <span style="font-size:16px;"
                              class="pull-right hidden-xs showopacity glyphicon glyphicon-plus-sign"></span>
                    </a>
                </li>

                <li><a href="#">Filtrar<span style="font-size:16px;"
                                             class="pull-right hidden-xs showopacity glyphicon glyphicon-filter"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="form" id="institutionsDiv">
    <% _.each(collection,function(institution){ %>
    <div id="newInsitutionDiv" class="collapse">
        <div class="divWidget">
            <form id="newInstitutionForm" class="row">
                <input id="txtId" type="hidden" name="id">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="fileUploader">
                            <span>Escolher imagem</span>
                            <input type="file" class="form-control " id="filePicker"
                                   name="file">
                            <input type="hidden"
                                   name="image" class="form-control mandatory" id="base64textarea">
                            <img id="imagePrev">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>
                            <input id="txtNome" name="name" type="text" class="form-control mandatory"
                                   placeholder="Nome">
                        </div>
                    </div>
                    <br>

                    <div class=" col-md-12">
                        <div class="input-group">
                                            <span class="input-group-addon btn-white"><i
                                                    class="fa fa-map-marker"></i></span>
                            <input id="txtAddress" name="address" type="text"
                                   class="form-control mandatory"
                                   placeholder="Localização">
                        </div>
                    </div>
                    <br>

                    <div class="col-md-12 btn-group" align="center">
                        <div align="center">
                            <button id="btnCreateInst" type="submit"
                                    class="btn btn-success btn_created">
                                Criar Instituição
                            </button>
                        </div>
                    </div>

                </div>

            </form>
        </div>

    </div>
    <div class="col-md-3  col-xs-4">
        <div class="divWidget dataBox">
            <div class=" dropdown options">
                <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-gear"></span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a id="editInstitution" value="<%=institution.id%>" href="#newInsitutionDiv"
                           data-toggle="collapse">
                            <i href="" class="fa fa-pencil" aria-hidden="true"></i> Editar
                        </a>
                    </li>
                    <li>
                        <a class="deleteInstitution" id="<%=institution.id%>" name="<%=institution.name%>"
                           type="button">
                            <i href="" class="fa fa-trash-o"
                               aria-hidden="true"></i> Eliminar</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-12">
                <img id="imagePrev" src="../images/<%=institution.image%>">

                <div>
                    <p><%=institution.name%></p>

                    <p><%=institution.address%></p>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
    <!-- Button trigger modal -->
</div>