<div class="form">
    <div class="col-md-12 col-xs-12 ">
        <div class="divWidget1" align="center">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="divWidget " align="center">
                        <h4 align="center">INSTITUIÇÕES
                            <button id="btnCreateInst" type="button" class="btn btn-primary btn-lg">+
                            </button>
                        </h4>
                    </div>
                </div>
            </div>
            <% _.each(collection,function(institution){ %>

            <div class="col-md-4">
                <div class="divWidget dataBox">
                    <div class="col-md-12 col-xs-12" align=" center">
                        <img id="imagePrev" src="../images/<%=institution.image%>">

                        <div>
                            <p align="center"><%=institution.name%></p>

                            <p align="center"><%=institution.address%></p>
                        </div>
                    </div>
                    <div class="col-md-6 btn-group" align="left">


                        <a class="deleteInstitution" value="<%=institution.id%>" type="button">
                            <i href="" class="fa fa-trash-o fa-2x"
                               aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-6 btn-group" align="right">
                        <a href="#institutions/<%= institution.id %>/edit">
                            <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    <!-- Button trigger modal -->
</div>
<!-- Modal -->

<div class="modal fade" id="deleteInstitutionModal" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Eliminar Instituição
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body" style="height: 150px">
                <form id="deletePopUpInstitution">
                    <p align="center">TEM A CERTEZA QUE PRETENDE ELIMNAR ESTA INSTITUIÇÃO?</p>
                    <br>
                    <div class="col-md-12 col-xs-12">
                        <div class="col-md-6 col-xs-6" align="center">
                            <a id="confirmDeleteInstitution" type="button"><i href=""
                                                                              class="glyphicon glyphicon-remove fa-4x"
                                                                              aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-6 col-xs-6" align="center">
                            <a id="cancelDeleteInstitution" type="button"><i href=""
                                                                             class="glyphicon glyphicon-ok fa-4x"
                                                                             aria-hidden="true"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>