<div id="loginDiv">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#formLogin" aria-controls="Login" role="tab" data-toggle="tab"
               aria-expanded="true">Login</a>
        </li>
        <li role="presentation">
            <a href="#SignUp" aria-controls="SignUp" role="tab" data-toggle="tab"
                                   aria-expanded="false">Sign Up</a></li>
        <li role="presentation">
            <a href="#Help" aria-controls="Help" role="tab" data-toggle="tab">Help</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- LOGIN -->
        <form role="tabpanel" class="tab-pane active" id="formLogin">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon btn-white"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Username ou E-mail" id="username"
                               name="username">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon btn-white"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Password" id="password"
                               name="password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button id="btnLogin" type="submit" class="btn btn-info">Entrar</button>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="cbRemeber">Remember me</label>
                </div>
            </div>
        </form>
        <!-- SIGN UP -->

        <div role="tabpanel" class="tab-pane " id="SignUp">
            <form role="form" id="newUserForm" method="POST" action="/user" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-user"></i></span>
                            <input name="name" type="text" class="form-control mandatory"
                                   placeholder="Nome">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-hashtag"></i></span>
                            <input name="username" id="txtUsername" type="text" class="form-control mandatory"
                                   placeholder="Username">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-envelope"></i></span>
                            <input name="email" id="txtEmail" type="text" class="form-control mandatory"
                                   placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-lock"></i></span>
                            <input id="txtPasswordSU"
                                   name="password" type="text" class="form-control mandatory"
                                   placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-unlock"></i></span>
                            <input id="txtConfPasswordSU" type="text" class="form-control mandatory"
                                   placeholder="Confirmar Password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class='input-group date' id='datePicker'>
                            <input type='text' class="form-control" name="birthDate"/>
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datePicker').datetimepicker({
                                viewMode: 'years',
                                format: 'DD/MM/YYYY'
                            });
                        });
                    </script>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="radio-inline"><input type="radio" value="4" checked name="type">Estudante</label>

                    </div>
                    <div class="col-md-6">
                        <label class="radio-inline"><input type="radio" value="3" name="type">Professor</label>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-12">
                        <div class="input-group">
                                            <span class="input-group-addon btn-white"><i
                                                    class="fa fa-building"></i></span>
                            <select id="ddInstitutionsList" class="form-control mandatory">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12">
                        <div class="input-group">
                                            <span class="input-group-addon btn-white"><i
                                                    class="fa fa-building-o"></i></span>
                            <select id="ddSchoolsList" class="form-control mandatory">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12">
                        <div class="input-group">
                                            <span class="input-group-addon btn-white"><i
                                                    class="fa fa-book"></i></span>
                            <select id="ddCoursesList" name="course" class="form-control mandatory">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="fileUploader">
                            <span>Escolher imagem</span>
                            <input type="file" class="form-control mandatory" id="filePicker"
                                   name="file">
                            <input type="hidden"
                                   name="image" class="form-control" id="base64textarea">
                            <img id="imagePrev">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="btnRegist" type="submit" class="btn btn-info">Registar</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- HELP -->
        <div role="tabpanel" class="tab-pane" id="Help">Help</div>
    </div>

</div>