<div id="popUpDiv">
    <form id="newPopUpSchool" action="/institution/new" method="GET">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#School" aria-controls="School" role="tab" data-toggle="tab" aria-expanded="true">ESCOLA</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Course">

                <div class="row">
                    <div class="col-md-12">
                        <div class="fileUploader">
                            <span>Escolher imagem</span>
                            <input type="file" class="form-control mandatory" id="filePickerImg" name="file">
                            <input type="hidden" name="image" class="form-control" id="base64textarea">
                            <img id="imagePrever">
                        </div>
                    </div>
                    <div class=" col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>
                            <input id="txtNome" name="name" type="text" class="form-control mandatory"
                                   placeholder="Nome">
                        </div>
                        <br>

                        <div class=" col-md-13">
                            <div class="input-group">
                                <span class="input-group-addon btn-white"><i class="fa fa-building"></i></span>
                                <select id="ddInst" name="institution" class="form-control mandatory">
                                    <option disabled selected>Instituição</option>
                                    <option value="1">IPT</option>
                                    <option value="2">IPL</option>
                                    <option value="3">ISCTE</option>
                                    <option value="4">...</option>
                                </select>
                            </div>
                        </div>
                        <br>

                        <div class="col-md-12 btn-group" align="center">
                            <div align="center">
                                <button id="Criar" type="submit" class="btn btn-success btn_created">Criar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
    </form>

</div>


</div>
</div>