<div id="someParent" class="row">
    <div class="col-md-12 col-xs-12 ">
        <div class="divWidget1" align="center">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="divWidget" align="center">
                        <h4 align="center">PERGUNTAS</h4>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                    <p align="center">CATEGORIA</p>

                                    <p align="center">DIFICULDADE</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                    <p align="center">CATEGORIA</p>

                                    <p align="center">DIFICULDADE</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                    <p align="center">CATEGORIA</p>

                                    <p align="center">DIFICULDADE</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                    <p align="center">CATEGORIA</p>

                                    <p align="center">DIFICULDADE</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                    <p align="center">CATEGORIA</p>

                                    <p align="center">DIFICULDADE</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                    <p align="center">CATEGORIA</p>

                                    <p align="center">DIFICULDADE</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                    <p align="center">CATEGORIA</p>

                                    <p align="center">DIFICULDADE</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                    <p align="center">CATEGORIA</p>

                                    <p align="center">DIFICULDADE</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                    <p align="center">CATEGORIA</p>

                                    <p align="center">DIFICULDADE</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                    <p align="center">CATEGORIA</p>

                                    <p align="center">DIFICULDADE</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                    <p align="center">CATEGORIA</p>

                                    <p align="center">DIFICULDADE</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                    <p align="center">CATEGORIA</p>

                                    <p align="center">DIFICULDADE</p>
                                </div>
                            </div>
                            <div class="col-md-4 btn-group">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button id="newQuestion" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Nova Pergunta</button>
</div>
<!-- Modal -->
<div class="modal fade" id="newQuestionModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Nova Pergunta
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form id="newPopUpQuestion">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Cabecalho" aria-controls="Cabecalho" role="tab"
                                                                  data-toggle="tab"
                                                                  aria-expanded="true">Cabeçalho</a></li>
                        <li role="presentation" class=""><a href="#Conteudo" aria-controls="Conteudo" role="tab"
                                                            data-toggle="tab"
                                                            aria-expanded="false">Conteúdo</a></li>
                        <li role="presentation"><a href="#Io" aria-controls="Io" role="tab" data-toggle="tab">I/O</a>
                        </li>
                        <li role="presentation"><a href="#sourceCode" aria-controls="Io" role="tab" data-toggle="tab">Source Code</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Cabeçalho -->
                        <div role="tabpanel" class="tab-pane active" id="Cabecalho">
                            <div class="row" style="height: 170px">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>
                                        <input id="txtTitulo" name="title" autofocus type="text"
                                               class="form-control mandatory"
                                               placeholder="Título">
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon btn-white"><i class="fa fa-flag"></i></span>
                                        <select id="ddCategoria" name="category" class="form-control mandatory">
                                            <option disabled selected>Categoria</option>
                                            <option value="1">Dados</option>
                                            <option value="2">Decisão</option>
                                            <option value="3">Iteração</option>
                                            <option value="4">Arrays</option>
                                            <option value="5">...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon btn-white"><i class="fa fa-bar-chart"></i></span>
                                        <select id="ddDificuldade" name="difficulty" class="form-control mandatory">
                                            <option disabled selected>Dificuldade</option>
                                            <option value="1">Fácil</option>
                                            <option value="2">Médio</option>
                                            <option value="3">Díficil</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Conteudo -->

                        <div role="tabpanel" class="tab-pane " id="Conteudo">
                            <div class="row" style="height: 170px">
                                <div class=" col-md-7">
                                    <div class="input-group" style="height: 150px">
                                        <span class="input-group-addon btn-white"><i class="fa fa-bookmark"></i></span>
                    <textarea id="txtDescricao" name="description" type="text" class="form-control mandatory"
                              placeholder="Descrição" style="height: 150px"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="fileUploader" style="height: 150px">
                                        <span>Escolher imagem</span>
                                        <input type="file" class="form-control mandatory" id="filePickerImg"
                                               name="file">
                                        <input type="hidden" name="image" class="form-control" id="base64textarea">
                                        <img id="imagePrev3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- HELP -->
                        <div role="tabpanel" class="tab-pane" id="Io">
                            <div class="row" style="height: 170px">

                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon btn-white"><i class="fa fa-flag"></i></span>
                                        <select id="linguagens" name="language" class="form-control mandatory">
                                            <option disabled selected>Linguagem</option>
                                            <option value="1">JAVA</option>
                                            <option value="2">C++</option>
                                            <option value="3">PHP</option>
                                            <option value="4">C</option>
                                            <option value="5">...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="fileUploader" style="height: 37px; width: 37px">

                                        <input type="file" name="algoritmo" class="form-control mandatory"
                                               id="inputFicheiro"
                                               name="file">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div align="center">
                                        <button id="addLanguage" type="button" class="btn btn btn_created">ADD
                                        </button>
                                    </div>
                                </div>
                                <div id="language" class="col-md-6">

                                </div>

                                <div class="row">
                                    <div class=" col-md-12">
                                        <div class=" col-md-6" style="height: 100px">
                                            <div class="input-group" style="height: 100px">
                                        <span class="input-group-addon btn-white"><i
                                                class="glyphicon glyphicon-save"></i></span>
                        <textarea id="txtEntrada" name="in" type="text" class="form-control"
                                  placeholder="Entrada" style="height: 100px"></textarea>
                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <div class="input-group" style="height: 100px">
                                        <span class="input-group-addon btn-white"><i
                                                class="glyphicon glyphicon-open"></i></span>
                        <textarea id="txtSaida" name="out" type="text" class="form-control"
                                  placeholder="Saída" style="height: 100px"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 btn-group" align="center">
                                <div align="center">
                                    <button id="Criar" type="submit" class="btn btn-success btn_created">Criar
                                    </button>
                                </div>
                            </div>
                        </div>
                </form>

            </div>

        </div>
    </div>
</div>
