<div class="form">
    <div class="panel panel-default">
        <div class="panel-heading">Detalhes</div>
        <div class="panel-body">

            <form id="editQuestionForm">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>
                            <input id="txtTitulo" name="title" autofocus type="text" class="form-control mandatory"
                                   placeholder="Título" value="<%=model.title%>" readonly>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-flag"></i></span>
                            <input id="txtTitulo" name="title" autofocus type="text" class="form-control mandatory"
                                   placeholder="Título" value="<%=model.categoryName%>" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class=" col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-bookmark"></i></span>
                            <input id="txtDescricao" name="description" type="text" class="form-control mandatory"
                                   placeholder="Descrição" value="<%=model.description%>" readonly>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon btn-white"><i class="fa fa-bar-chart"></i></span>
                            <select id="ddDificuldade" name="difficulty" class="form-control mandatory">
                                <option disabled selected>Dificuldade</option>

                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <img id="imagePrev" src="../images/<%=model.image%>">
                    </div>
                    <div class="col-md-8">
                <textarea rows="4" id="algorithm" class="form-control" placeholder="Algoritmo"
                          name="algorithm"><%=model.algorithm%></textarea>
                        <div class="row">
                            <div id="divIOList" class=" col-md-12">
                                <% _.each(model.IOs,function(io){ %>
                                <div class="divIO">
                                    <div class="subDivIO">
                                        <label id="lblIO">I/O</label><br>
                                <textarea class="col-md-6" style="margin-top: 0px; margin-bottom: 0px; height: 165px;"><%=io.input%>
                                </textarea>
                                <textarea class="col-md-6"><%=io.output%>
                                </textarea></div>
                                </div>
                                <% }); %>

                            </div>
                        </div>
                    </div>

                </div><!--
                <div class="col-md-12">
                    <div class="col-md-12 btn-group">
                        <button id="btnEditPerg" type="submit" class="btn btn-success btn_created">Editar</button>
                        <button class="btn btn-default">Cancelar</button>
                    </div>
                </div>-->
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Códigos existentes
        </div>
        <div class="panel-body">
            <% _.each(model.Codes,function(code){ %>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon btn-white"><i class="fa fa-file-code-o"></i></span>
                    <input type="text" class="form-control mandatory" value="<%=code.programCode%>">
                    <span class="input-group-addon btn-white"><i class="fa fa-language"></i></span>
                    <input type="text" class="form-control mandatory" value="<%=code.description%>">
                        <span class="input-group-addon btn-white" title="Remover código">
                            <button class="fa fa-trash" question="<%=model.id%>" lang="<%=code.highLevelLangID%>"
                                    file="<%=code.programCode%>" style="color:#a23830"></button>
                        </span>
                     <span class="input-group-addon btn-white" title="Adicionar código">
                         <a href="../files/<%=code.programCode%>" download>
                             <i class="fa fa-cloud-download"></i>
                         </a>
                        </span>
                </div>
            </div>
            <% }); %>

        </div>
    </div>

</div>
