  <div class="col-md-8 col-xs-8 ">
    <div class="divWidget" align="center">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="divWidget" align="center">
            <p align="center">ESCOLAS</p>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-4 col-xs-4">
          <div class="divWidget" >
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">IMAGEM</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">NOME</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">INSTITUIÇÃO</p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4 col-xs-4">
          <div class="divWidget" >
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">IMAGEM</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">NOME</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">INSTITUIÇÃO</p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4 col-xs-4">
          <div class="divWidget" >
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">IMAGEM</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">NOME</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">INSTITUIÇÃO</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-xs-4">
          <div class="divWidget" >
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">IMAGEM</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">NOME</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">INSTITUIÇÃO</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-4">
          <div class="divWidget" >
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">IMAGEM</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">NOME</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">INSTITUIÇÃO</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-4">
          <div class="divWidget" >
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">IMAGEM</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">NOME</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="divWidget" align="center">
                  <p align="center">INSTITUIÇÃO</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xs-4">
    <div class="col-md-12">
      <div class=" divWidget">
        <h3 align="center">Inserir Nova Escola
          <hr>
        </h3>



        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="fileUploader">
              <span>Escolher imagem</span>
              <input type="file" class="form-control mandatory" id="filePickerImg" name="file">
              <input type="hidden" name="imagem" class="form-control" id="base64textarea">
              <img id="imagePrev">
            </div>
          </div>
          <div class=" col-md-12">
            <div class="input-group">
              <span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>
              <input id="txtNome" name="name" type="text" class="form-control mandatory"
                     placeholder="Nome">
            </div>
            <br>
            <div class=" col-md-13">
              <div class="input-group">
                <span class="input-group-addon btn-white"><i class="fa fa-building"></i></span>
                <select id="ddInst" name="institution" class="form-control mandatory">
                  <option disabled selected>Instituição</option>
                  <option value="1">IPT</option>
                  <option value="2">IPL</option>
                  <option value="3">ISCTE</option>
                  <option value="4">...</option>
                </select>
              </div>
            </div>
            <br>
            <div class="col-md-12 btn-group" align="center">
              <div align="center">
                <button id="btnCriarInst" type="submit" class="btn btn-success btn_created">Criar</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>