<div class="row">
    <!-- Creates a box with every single course information -->
    <% _.each(collection,function(teacher){ %>
    <div class="col-md-3">
        <div class="divWidget dataBox">
            <div class="col-md-12 col-xs-12" align=" center">
                <img id="imagePrev" src="../images/<%=teacher.image%>">

                <div>
                    <p align="center"><%=teacher.name%></p>

                    <p align="center"><%=teacher.username%></p>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</div>