<div class="row">
    <div class="col-md-6 col-xs-6 ">
        <div class="divWidget" align="center">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="divWidget" align="center">
                        <h4 align="center">TESTES
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <img id="imagePrev">
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="center">

                                <a href=""><img src="assets/ico/delete.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/edit.png" class="btn_questions"></a>
                            </div>
                            <div class="col-md-4 btn-group">
                                <a href=""><img src="assets/ico/details.png" class="btn_questions"></a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-6">
        <div class="col-md-12">
            <div class=" divWidget">
                <h3 align="center">Criar Novo Teste

                </h3>


<form id="newTest" action="/tests/new" method="GET">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>
                                <input id="txtTitulo" name="title" autofocus type="text" class="form-control mandatory"
                                       placeholder="Título">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon btn-white"><i class="fa fa-book"></i></span>
                                <select id="ddTeachers" name="numquestions" class="form-control mandatory">
                                    <option disabled selected>Nº de Perguntas</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                            <br>
                        </div>


                        <div class=" col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon btn-white"><i class="fa fa-book"></i></span>
                                <select id="ddTeachers" name="course" class="form-control mandatory">
                                    <option disabled selected>Curso</option>
                                    <option value="1">Eng. Informática</option>
                                    <option value="2">Eng. Electrótécnica</option>
                                    <option value="3">C.E.T. - T.P.S.I,</option>
                                    <option value="4">...</option>
                                </select>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-12 col-xs-12">
                        <div class="col-md-4 col-xs-4">

                            <div class="input-group">
                                <span class="input-group-addon btn-white"><i class="fa fa-book"></i></span>
                                <select id="ddCategoria" name="category" class="form-control mandatory">
                                    <option disabled selected>Tema</option>
                                    <option value="1">Cálculo Computacional</option>
                                    <option value="2">Decisão</option>
                                    <option value="3">Iteração</option>
                                    <option value="4">Arrays</option>
                                    <option value="5">Funções</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-4 col-xs-4">

                            <div class="input-group">
                                <span class="input-group-addon btn-white"><i class="fa fa-book"></i></span>
                                <select id="ddDificuldade" name="difficulty" class="form-control mandatory">
                                    <option disabled selected>Nivel</option>
                                    <option value="1">Fácil</option>
                                    <option value="2">Médio</option>
                                    <option value="3">Dificil</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-4 col-xs-4">

                            <div class="input-group">
                                <span class="input-group-addon btn-white"><i class="fa fa-book"></i></span>
                                <select id="dCategoria" name="number" class="form-control mandatory">
                                    <option disabled selected>Número</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>

                        </div>
                        <hr>
                    </div>


                    <div class="col-md-12 btn-group" align="center">
                        <div class="col-md-6 btn-group" align="center">
                            <div align="center">
                                <button id="Criar" type="submit" class="btn btn-success btn_created">CRIAR
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 btn-group" align="center">
                            <div align="center">
                                <button id="Novo" type="submit" class="btn btn btn_created">NOVO
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
</form>
            </div>
        </div>
    </div>
</div>
