<div id="someParent" class="row">
    <div class="col-md-12 col-xs-12 ">
        <div class="divWidget1" align="center">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="divWidget" align="center">
                        <h4 align="center">TESTES    <button id="newTest" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">+</button>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <!--<img id="">-->
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="right">


                                    <a id="deleteTest" type="button"><i href="" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                                </div>
                            <div class="col-md-4 btn-group" align="center">
                                <a id="editTest" type="button">
                                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-4 btn-group" align="left">
                                <div class="divInfo" ><i href="" class="fa fa-info fa-2x" aria-hidden="true"></i>
                                    <div class="subDivInfo">
                                <a id="infoTest" type="button" ></a>
                                        <p></p>
                                        <p>DATA DE INICIO:</p>
                                        <p>DATA DE FIM:</p>
                                        <p>CURSO:</p>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <!--<img id="">-->
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="right">


                                <a id="deleteTest" type="button"><i href="" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-4 btn-group" align="center">
                                <a id="editTest" type="button">
                                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-4 btn-group" align="left">
                                <div class="divInfo" ><i href="" class="fa fa-info fa-2x" aria-hidden="true"></i>
                                    <div class="subDivInfo">
                                        <a id="infoTest" type="button" ></a>
                                        <p></p>
                                        <p>DATA DE INICIO:</p>
                                        <p>DATA DE FIM:</p>
                                        <p>CURSO:</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <!--<img id="">-->
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="right">


                                <a id="deleteTest" type="button"><i href="" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-4 btn-group" align="center">
                                <a id="editTest" type="button">
                                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-4 btn-group" align="left">
                                <div class="divInfo" ><i href="" class="fa fa-info fa-2x" aria-hidden="true"></i>
                                    <div class="subDivInfo">
                                        <a id="infoTest" type="button" ></a>
                                        <p></p>
                                        <p>DATA DE INICIO:</p>
                                        <p>DATA DE FIM:</p>
                                        <p>CURSO:</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <!--<img id="">-->
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="right">


                                <a id="deleteTest" type="button"><i href="" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-4 btn-group" align="center">
                                <a id="editTest" type="button">
                                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-4 btn-group" align="left">
                                <div class="divInfo" ><i href="" class="fa fa-info fa-2x" aria-hidden="true"></i>
                                    <div class="subDivInfo">
                                        <a id="infoTest" type="button" ></a>
                                        <p></p>
                                        <p>DATA DE INICIO:</p>
                                        <p>DATA DE FIM:</p>
                                        <p>CURSO:</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <!--<img id="">-->
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="right">


                                <a id="deleteTest" type="button"><i href="" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-4 btn-group" align="center">
                                <a id="editTest" type="button">
                                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-4 btn-group" align="left">
                                <div class="divInfo" ><i href="" class="fa fa-info fa-2x" aria-hidden="true"></i>
                                    <div class="subDivInfo">
                                        <a id="infoTest" type="button" ></a>
                                        <p></p>
                                        <p>DATA DE INICIO:</p>
                                        <p>DATA DE FIM:</p>
                                        <p>CURSO:</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <!--<img id="">-->
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="right">


                                <a id="deleteTest" type="button"><i href="" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-4 btn-group" align="center">
                                <a id="editTest" type="button">
                                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-4 btn-group" align="left">
                                <div class="divInfo" ><i href="" class="fa fa-info fa-2x" aria-hidden="true"></i>
                                    <div class="subDivInfo">
                                        <a id="infoTest" type="button" ></a>
                                        <p></p>
                                        <p>DATA DE INICIO:</p>
                                        <p>DATA DE FIM:</p>
                                        <p>CURSO:</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <!--<img id="">-->
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="right">


                                <a id="deleteTest" type="button"><i href="" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-4 btn-group" align="center">
                                <a id="editTest" type="button">
                                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-4 btn-group" align="left">
                                <div class="divInfo" ><i href="" class="fa fa-info fa-2x" aria-hidden="true"></i>
                                    <div class="subDivInfo">
                                        <a id="infoTest" type="button" ></a>
                                        <p></p>
                                        <p>DATA DE INICIO:</p>
                                        <p>DATA DE FIM:</p>
                                        <p>CURSO:</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <!--<img id="">-->
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="right">


                                <a id="deleteTest" type="button"><i href="" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-4 btn-group" align="center">
                                <a id="editTest" type="button">
                                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-4 btn-group" align="left">
                                <div class="divInfo" ><i href="" class="fa fa-info fa-2x" aria-hidden="true"></i>
                                    <div class="subDivInfo">
                                        <a id="infoTest" type="button" ></a>
                                        <p></p>
                                        <p>DATA DE INICIO:</p>
                                        <p>DATA DE FIM:</p>
                                        <p>CURSO:</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <!--<img id="">-->
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="right">


                                <a id="deleteTest" type="button"><i href="" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-4 btn-group" align="center">
                                <a id="editTest" type="button">
                                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-4 btn-group" align="left">
                                <div class="divInfo" ><i href="" class="fa fa-info fa-2x" aria-hidden="true"></i>
                                    <div class="subDivInfo">
                                        <a id="infoTest" type="button" ></a>
                                        <p></p>
                                        <p>DATA DE INICIO:</p>
                                        <p>DATA DE FIM:</p>
                                        <p>CURSO:</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <!--<img id="">-->
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="right">


                                <a id="deleteTest" type="button"><i href="" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-4 btn-group" align="center">
                                <a id="editTest" type="button">
                                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-4 btn-group" align="left">
                                <div class="divInfo" ><i href="" class="fa fa-info fa-2x" aria-hidden="true"></i>
                                    <div class="subDivInfo">
                                        <a id="infoTest" type="button" ></a>
                                        <p></p>
                                        <p>DATA DE INICIO:</p>
                                        <p>DATA DE FIM:</p>
                                        <p>CURSO:</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <!--<img id="">-->
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="right">


                                <a id="deleteTest" type="button"><i href="" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-4 btn-group" align="center">
                                <a id="editTest" type="button">
                                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-4 btn-group" align="left">
                                <div class="divInfo" ><i href="" class="fa fa-info fa-2x" aria-hidden="true"></i>
                                    <div class="subDivInfo">
                                        <a id="infoTest" type="button" ></a>
                                        <p></p>
                                        <p>DATA DE INICIO:</p>
                                        <p>DATA DE FIM:</p>
                                        <p>CURSO:</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="divWidget">
                        <div class="row">
                            <div class="col-md-12 col-xs-12" align=" center">
                                <div class="fileUploader">
                                    <!--<img id="">-->
                                </div>
                                <br>

                                <div>
                                    <p align="center">TITULO</p>

                                </div>
                            </div>
                            <div class="col-md-4 btn-group" align="right">


                                <a id="deleteTest" type="button"><i href="" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-4 btn-group" align="center">
                                <a id="editTest" type="button">
                                    <i href="" class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-md-4 btn-group" align="left">
                                <div class="divInfo" ><i href="" class="fa fa-info fa-2x" aria-hidden="true"></i>
                                    <div class="subDivInfo">
                                        <a id="infoTest" type="button" ></a>
                                        <p></p>
                                        <p>DATA DE INICIO:</p>
                                        <p>DATA DE FIM:</p>
                                        <p>CURSO:</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
</div>

<!-- Modal -->
<div class="modal fade" id="deleteTestModal" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" >
                    Eliminar Teste
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body" style="height: 150px">
                <form id="deletePopUpTest">
                    <p align="center">TEM A CERTEZA QUE PRETENDE ELIMNAR ESTE TESTE?</p>
                    <br>
                    <div class="col-md-12 col-xs-12">
                        <div class="col-md-6 col-xs-6" align="center">
                            <a id="confirmDeleteTest" type="button"><i href="" class="glyphicon glyphicon-remove fa-4x" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-6 col-xs-6" align="center">
                            <a id="cancelDeleteTest" type="button"><i href="" class="glyphicon glyphicon-ok fa-4x" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editTestModal" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" >
                    Editar Teste
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <!--<form id="newPopUpTest">-->
                    <!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
                    <!--<ul class="nav nav-tabs" role="tablist">-->
                        <!--<li role="presentation" class="active"><a href="#Teste" aria-controls="Teste" role="tab"-->
                                                                  <!--data-toggle="tab" aria-expanded="true">TESTE</a></li>-->
                    <!--</ul>-->

                    <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
                    <!--<div class="tab-content">-->
                        <!--<div role="tabpanel" class="tab-pane active" id="Cabecalho">-->

                            <!--<div class="row">-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="col-md-12">-->
                                        <!--<div class="input-group">-->
                                            <!--<span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>-->
                                            <!--<input id="txtTitulo" name="title" autofocus type="text"-->
                                                   <!--class="form-control mandatory"-->
                                                   <!--placeholder="Título">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-12">-->


                                    <!--<div class="col-sm-6">-->
                                        <!--<div class='input-group date' id='datePicker'>-->
                                            <!--<input type='text' class="form-control" name="dateBirth"-->
                                                   <!--placeholder="Data de Inicio"/>-->
                <!--<span class="input-group-addon">-->
                <!--<i class="glyphicon glyphicon-calendar"></i>-->
                <!--</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<script type="text/javascript">-->
                                        <!--$(function () {-->
                                            <!--$('#datePicker').datetimepicker({-->
                                                <!--viewMode: 'years',-->
                                                <!--format: 'DD/MM/YYYY'-->
                                            <!--});-->
                                        <!--});-->
                                    <!--</script>-->


                                    <!--<div class=" col-md-6">-->
                                        <!--<div class="input-group">-->
                                            <!--<span class="input-group-addon btn-white"><i class="fa fa-book"></i></span>-->
                                            <!--<select id="ddTeachers" name="course" class="form-control mandatory">-->
                                                <!--<option disabled selected>Curso</option>-->
                                                <!--<option value="1">Eng. Informática</option>-->
                                                <!--<option value="2">Eng. Electrótécnica</option>-->
                                                <!--<option value="3">C.E.T. - T.P.S.I,</option>-->
                                                <!--<option value="4">...</option>-->
                                            <!--</select>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-12">-->


                                    <!--<div class="col-sm-6">-->
                                        <!--<div class='input-group date' id='datePicker2'>-->
                                            <!--<input type='text' class="form-control" name="dateBirth"-->
                                                   <!--placeholder="Data de Fim"/>-->
                <!--<span class="input-group-addon">-->
                <!--<i class="glyphicon glyphicon-calendar"></i>-->
                <!--</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<script type="text/javascript">-->
                                        <!--$(function () {-->
                                            <!--$('#datePicker2').datetimepicker({-->
                                                <!--viewMode: 'years',-->
                                                <!--format: 'DD/MM/YYYY'-->
                                            <!--});-->
                                        <!--});-->
                                    <!--</script>-->
                                <!--</div>-->
                                <!--<div id="1line" class="col-md-12 col-xs-12">-->

                                <!--</div>-->

                                <!--<div class="col-md-12 btn-group" align="center">-->
                                    <!--<div class="col-md-6 btn-group" align="center">-->
                                        <!--<div align="center">-->
                                            <!--<button id="Criar" type="submit" class="btn btn-success btn_created">CRIAR-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-3 btn-group" align="center">-->
                                        <!--<div align="center">-->
                                            <!--<button id="addLine" type="button" class="btn btn btn_created">NOVO-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-3 btn-group" align="center">-->
                                        <!--<div align="center">-->
                                            <!--<button id="removeLine" type="button" class="btn btn btn_cr">REM-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                <!--</form>-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newTestModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" >
                    Novo Teste
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="newPopUpTest">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Teste" aria-controls="Teste" role="tab" data-toggle="tab" aria-expanded="true">TESTE</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="Cabecalho">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon btn-white"><i class="fa fa-tag"></i></span>
                                            <input id="txtTitulo" name="title" autofocus type="text" class="form-control mandatory"
                                                   placeholder="Título">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">



                                        <div class="col-sm-6">
                                            <div class='input-group date' id='datePicker'>
                                                <input type='text' class="form-control" name="dateBirth" placeholder="Data de Inicio"/>
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datePicker').datetimepicker({
                                                    viewMode: 'years',
                                                    format: 'DD/MM/YYYY'
                                                });
                                            });
                                        </script>




                                    <div class=" col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon btn-white"><i class="fa fa-book"></i></span>
                                            <select id="ddTeachers" name="course" class="form-control mandatory">
                                                <option disabled selected>Curso</option>
                                                <option value="1">Eng. Informática</option>
                                                <option value="2">Eng. Electrótécnica</option>
                                                <option value="3">C.E.T. - T.P.S.I,</option>
                                                <option value="4">...</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">



                                    <div class="col-sm-6">
                                        <div class='input-group date' id='datePicker2'>
                                            <input type='text' class="form-control" name="dateBirth" placeholder="Data de Fim"/>
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datePicker2').datetimepicker({
                                                viewMode: 'years',
                                                format: 'DD/MM/YYYY'
                                            });
                                        });
                                    </script>
                                    </div>
                                <div id="1line" class="col-md-12 col-xs-12">

                                </div>

                                <div class="col-md-12 btn-group" align="center">
                                    <div class="col-md-6 btn-group" align="center">
                                        <div align="center">
                                            <button id="Criar" type="submit" class="btn btn-success btn_created">CRIAR
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-3 btn-group" align="center">
                                        <div align="center">
                                            <button id="addLine" type="button" class="btn btn btn_created">NOVO
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-3 btn-group" align="center">
                                        <div align="center">
                                            <button id="removeLine" type="button" class="btn btn btn_cr">REM
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

